.button {
  width: 189px;
  height: 48px;
  border-radius: 8px;
  border: none;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto;

  text-align: center;

  cursor: pointer;
  transition: var(--transition-button);
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* primary */
.button_primary {
  color: var(--primary-text);
  background-color: var(--primary);
}

.button_primary:hover {
  background-color: var(--primary-hover);
}

/* secondary */
.button_secondary {
  color: var(--secondary-text);
  background-color: var(--secondary);
}

.button_secondary:hover {
  background-color: var(--secondary-hover);
}

/* alternate */
.button_alternate {
  color: var(--alternate-text);
  background-color: var(--alternate);
  border: 1px solid var(--alternate-border);
}

.button_alternate:hover {
  background-color: var(--alternate-hover);
  border: 1px solid var(--alternate-hover-border);
}